:root{
    --fondo-principal:rgb(31, 31, 31);
}


nav{
    background-color: var(--fondo-principal);
    height:60px;
    padding:10px;

    display:flex;
    align-items:center;
    justify-content:space-between;
}

nav img{
    height:40px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: rgb(155, 230, 200);
}


nav a{
    background-color:rgb(14, 57, 167);
    border:none;
    padding:5px 30px;
    color:rgb(110, 200, 238);
    text-decoration:none;
}

nav a:hover{
    background-color:rgb(5, 32, 75);
    color:white;
    cursor:pointer;
}

.botones{
    display: flex;
    gap:20px;
}

main{
    padding:50px;
    text-align:center;
    font-family: Arial, Helvetica;
}

main h1{
    font-size:60px;
    font-weight:300;
}

.formulario{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
    background-color:rgba(0, 0, 0, 0.208);
    width: 300px;
    margin: 0 auto;
}

.principal{
    background:url('./assets/bg.jpg');
    background-size:cover;
    background-position:center;
    min-height:100vh;
}

footer{
    background-color: var(--fondo-principal);
    color: white;
}

.footer1{
    padding: 40px;
    display:flex;
    justify-content:space-between;
}

.footer2{
    text-align: center;
}

.texto-footer{
    margin-top: 20px;
    max-width: 300px;
}

.enlaces a{
    color: rgb(136, 196, 249);
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.social img{
    height: 50px;
    width: 50px;
}

.img-logo{
    width: 60px;
    height: 60px;
}

.btn{
    background-color: var(--fondo-principal);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
}